{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.users'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card border-secondary mt-4">
            <div class="card-header">
                <h5>{{ 'menu.users'|trans }}</h5>
            </div>
            <div class="card-body px-2 py-1">
                {% if app.user %}
                    <table class="table table-hover border-light">
                        <thead>
                            <tr class="table-light">
                                <th>
                                    <a href="{{ path('app_admin_sort_users', {'order': orderBy, 'name': 'id'}) }}" class="text-dark text-decoration-none">
                                        Id
                                        <i class="fa fa-unsorted text-secondary"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ path('app_admin_sort_users', {'order': orderBy, 'name': 'name'}) }}" class="text-dark text-decoration-none">
                                        User Name
                                        <i class="fa fa-unsorted text-secondary"></i>
                                    </a>
                                </th>
                                <th>Roles</th>
                                <th>
                                    <a href="{{ path('app_admin_sort_users', {'order': orderBy, 'name': 'email'}) }}" class="text-dark text-decoration-none">
                                        Email
                                        <i class="fa fa-unsorted text-secondary"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ path('app_admin_sort_users', {'order': orderBy, 'name': 'created_at'}) }}" class="text-dark text-decoration-none">
                                        Created At
                                        <i class="fa fa-unsorted text-secondary"></i>
                                    </a>
                                </th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in paginator.items %}
                                <tr class="{% if not user.isVerified  %} text-danger  bg-light{% endif %}">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.roles|join(', ') }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date(date_format) : '' }}</td>
                                    <td class="text-center">
                                        <a class="link-secondary text-decoration-none" href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
                                        <a class="link-secondary text-decoration-none" href="{{ path('app_admin_user_show', {'id': user.id}) }}"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">{{ 'entry.no_entries_found'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'utils/paginator.html.twig' %}
                {% endif %}
            </div>
            <div class="card-footer">
                <a class="btn btn-warning float-right" href="{{ path('app_admin_user_new') }}">
                    Create
                </a>
            </div>
        </div>
    </div>
{% endblock %}
