{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}    
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Users</h2>        
        <div class="card">
            <div class="card-header">
                <a class="btn btn-secondary float-end" href="{{ path('app_admin_user_new') }}"> 
                    Create
                </a>
            </div>
            <div class="card-body">
                {% if app.user %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Created At</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>        
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i') : '' }}</td>                                     
                                    <td class="text-center">
                                        <a class="link-secondary" href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><i class="icon-edit"></i></a> 
                                        <a class="link-secondary" href="{{ path('app_admin_user_show', {'id': user.id}) }}"><i class="icon-eye-open"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">{{ 'entry.no_entries_found'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
