{% extends 'base.html.twig' %}

{% block title %}{{ 'action.create_user'|trans }}{% endblock %}

{% block body %}
    <div class="container">        
        <div class="card border-secondary mt-5">
            <div class="card-header">
                <h5>{{ 'action.create_user'|trans }}</h5>
            </div>
            <div class="card-body">
                {{ include('admin/user/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary float-end" href="{{ path('app_admin_users') }}">{{ 'menu.users'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
