{% extends 'base.html.twig' %}

{% block title %}{{ 'title.show_user'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'flashMessage/flashMessage.html.twig' %}
        <div class="card border-secondary mt-4">
            <div class="card-header">
                {{ 'title.show_user'|trans }}
            </div>
            <div class="card-body">
                <b class="text-muted">User Name:</b>
                <p>{{ user.name }}</p>
                <b class="text-muted">Email:</b>
                <p>{{ user.email }}</p>
                <b class="text-muted">IP:</b>
                <p>{{ user.ip }}</p>
                <b class="text-muted">Roles:</b>
                <p>{{ user.roles|join(', ') }}</p>
                <hr>
                <div class="section">
                    {{ include('admin/user/_action_form.html.twig', {id: user.id}, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
