{{ form_start(form) }}
{% include 'flashMessage/flashMessage.html.twig' %}
<div class="form-group">
    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
</div>
{{ form_row(form.captcha) }} 
<button class="btn {{ button_color|default('btn-primary') }}  mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}