{% extends 'base.html.twig' %}

{% block title %}{{ 'action.entries'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% if not app.user.IsVerified %}
            <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                {{ 'massage.warning.register_incoplete'|trans }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="card border-secondary mt-4">
                <div class="card-header">
                    <h5>{{ 'action.entries'|trans }}</h5>
                </div>
                <div class="card-body px-2 py-1">
                    {% if app.user %}
                        <table class="table table-hover border-light">
                            <thead>
                                <tr class="table-light">
                                    <th>
                                        <a href="{{ path('app_gb_sort_entries', {'order': orderBy, 'name': 'id'}) }}" class="text-dark text-decoration-none">
                                            Id
                                            <i class="fa fa-unsorted text-secondary"></i>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ path('app_gb_sort_entries', {'order': orderBy, 'name': 'name'}) }}" class="text-dark text-decoration-none">
                                            User Name
                                            <i class="fa fa-unsorted text-secondary"></i>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ path('app_gb_sort_entries', {'order': orderBy, 'name': 'title'}) }}" class="text-dark text-decoration-none">
                                            Title
                                            <i class="fa fa-unsorted text-secondary"></i>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ path('app_gb_sort_entries', {'order': orderBy, 'name': 'created_at'}) }}" class="text-dark text-decoration-none">
                                            Created At
                                            <i class="fa fa-unsorted text-secondary"></i>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="{{ path('app_gb_sort_entries', {'order': orderBy, 'name': 'updated_at'}) }}" class="text-dark text-decoration-none">
                                            Updated At
                                            <i class="fa fa-unsorted text-secondary"></i>
                                        </a>
                                    </th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            </thead>
                            <tbody>
                                {% for entry in paginator.items %}
                                    <tr class="{% if not entry.approved %} text-danger bg-light{% endif %}">
                                        <td>{{ entry.id }}</td>
                                        <td>{{ entry.user.name }}</td>
                                        <td>{{ entry.title }}</td>
                                        <td>{{ entry.createdAt ? entry.createdAt|date(date_format) : '' }}</td>
                                        <td>{{ entry.updatedAt ? entry.updatedAt|date(date_format) : '' }}</td>
                                        <td class="text-center">
                                            <a class="link-info" href="{{ path('app_gb_edit', {'uuid': entry.uuid}) }}"><i class="fa fa-pencil-square-o"></i></a>
                                            <a class="link-info" href="{{ path('app_gb_show', {'uuid': entry.uuid}) }}"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center text-secondary">{{ 'entry.no_entries_found'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'utils/paginator.html.twig' %}
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary float-right" href="{{ path('app_gb_new') }}">{{ 'action.create_entry'|trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
