{% extends 'base.html.twig' %}

{% block title %}{{ 'action.create_entry'|trans }}{% endblock %}

{% block body %}
    <div class="container">        
        <div class="card border-secondary mt-5">
            <div class="card-header">
                <h5>{{ 'action.create_entry'|trans }}</h5>
            </div>
            <div class="card-body">
                {{ include('gb/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary float-end" href="{{ path('app_g_b_index') }}">{{ 'action.all_entry'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}