{% extends 'base.html.twig' %}

{% block title %}{{ 'action.create_entry'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% if not app.user.IsVerified %}
            <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
                {{ 'massage.warning.register_incoplete'|trans }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="card border-secondary mt-5">
                <div class="card-header">
                    <h5>{{ 'action.create_entry'|trans }}</h5>
                </div>
                <div class="card-body">
                    {{ include('gb/_form.html.twig') }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary float-right" href="{{ path('app_g_b_index') }}">{{ 'action.all_entry'|trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}