{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center mt-5 mb-3">Register</h2>
        <div class="card">                        
            <div class="card-body">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}    
                {% if form_errors(registrationForm) %}
                    <div class="alert alert-danger pb-0" role="alert">{{ form_errors(registrationForm) }}</div>
                {% endif %}
                {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                </div>
                <div class="form-check mt-3">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                </div>    
                <input type="hidden" name="_target_path" value="{{ path('app_g_b_index') }}"/>
                <button class="btn {{ button_color|default('btn-primary') }} mt-3">{{ button_label|default('Register') }}</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>    
{% endblock %}
