{% extends 'base.html.twig' %}

{% block title %}{{ 'title.edit_entry'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'flashMessage/flashMessage.html.twig' %}                
        <div class="card border-secondary mt-5">
            <div class="card-header">
                <h5>{{ 'title.edit_entry'|trans }}</h5>                
            </div>
            <div class="card-body">
                {% include 'admin/gb/_form.html.twig' with {'button_label': 'Update', 'button_color': 'btn-primary'}  %}
            </div>
            <div class="card-footer">                
                <div class="pull-right">
                    <a class="btn btn-outline-secondary" role="button" href="{{ path('app_admin_index') }}">{{ 'label.cancel'|trans }}</a> 
                    <a class="btn btn-outline-primary" role="button" href="{{ path('app_gb_new') }}">{{ 'action.create_entry'|trans }}</a>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}