{% extends 'base.html.twig' %}

{% block title %}Show Entry{% endblock %}

{% block body %}
    <div class="container">
        {% include 'flashMessage/flashMessage.html.twig' %}
        <div class="card border-secondary mt-4">
            <div class="card-header">
                <h5>{{ 'action.show_entry'|trans }}</h5>
            </div>
            <div class="card-body">
                <b class="text-muted">Status:</b>
                <p class="text-{{ gb.Approved == true ? 'info' : 'danger' }}">{{ gb.Approved ? 'Approved' : 'Waiting to approve' }}</p>
                <b class="text-muted">User Name:</b>
                <p>{{ gb.user.name }}</p>
                <b class="text-muted">Title:</b>
                <p>{{ gb.Title }}</p>
                <b class="text-muted">Message:</b>
                <p>
                    {% autoescape %}
                        {{ gb.Message|raw }}
                    {% endautoescape %}
                </p>
                <b class="text-muted">Date Created: </b>{{ gb.createdAt ? gb.createdAt|date(date_format) : '' }}
                <p></p>
                <b class="text-muted">Date Updated: </b>{{ gb.updatedAt ? gb.updatedAt|date(date_format) : '' }}
                <hr>
                <b class="text-muted">UUid:</b>
                <a class="link-secondary" href="{{ path('app_entry_show', {uuid: gb.uuid}) }}">Reference to page</a>
                <hr>
                {% include 'gb/_attachments.html.twig' %}
                <hr>
                <div class="section">
                    {{ include('admin/gb/_action_form.html.twig', {uuid: gb.uuid, status: gb.approved}, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
