{% extends 'base.html.twig' %}

{% block title %}Show Entry{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Entry</h2>
        {% include 'flashMessage/flashMessage.html.twig' %}        
        <div class="card">
            <div class="card-header">Show entry</div>
            <div class="card-body">
                <b class="text-muted">User Name:</b>
                <p>{{ gb.user.name }}</p>
                <b class="text-muted">Title:</b>
                <p>{{ gb.Title }}</p>
                <b class="text-muted">Message:</b>
                <p>
                    {% autoescape %}
                        {{ gb.Message|raw }}
                    {% endautoescape %}
                </p>                               
                <b class="text-muted">Date Created: </b>{{ gb.createdAt ? gb.createdAt|date('Y-m-d H:i') : '' }}     
                <p></p>
                <b class="text-muted">Date Updated: </b>{{ gb.updatedAt ? gb.updatedAt|date('Y-m-d H:i') : '' }}
                <hr>                
                <b class="text-muted">UUid:</b>
                <a class="link-secondary" href="{{ path('app_admin_entry_show', {'uuid': gb.uuid}) }}">Reference to page</a> 
                <hr>
                <div class="section">
                    {{ include('admin/gb/_action_form.html.twig', {uuid: gb.uuid}, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
