{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reset_your_password'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger mt-5" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {{ form_start(requestForm) }}
        <div class="card border-secondary mt-5">
            <div class="card-header">
                <h5>{{ 'title.reset_your_password'|trans }}</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(requestForm.email, 'Email') }}
                    {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
                    <small class="form-text text-muted">
                        {{ 'help.app_reset_password_email'|trans }}
                    </small>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn {{ button_color|default('btn-primary') }}">{{ button_label|default('action.send_password_reset_email'|trans) }}</button>
            </div>
        </div>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
