{% set _route = app.request.get('_route') %}
<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('homepage') }}">{{ 'menu.homepage'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-auto" href="#" id="locales" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-solid fa-globe"></i>
                        {{ 'menu.choose_language'|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="locales">
                        {% for locale in locales() %}
                            {% set is_active = app.request.locale == locale.code %}
                            <a class="dropdown-item {{ is_active ? 'active' }}" hreflang="{{ locale.code }}" href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                                {{ locale.name|capitalize }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown justify-content-between">
                    {% if app.user %}
                        <a class="nav-link dropdown-toggle mr-auto" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-o"></i>
                            {{ app.user.email }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{{ path('app_profile') }}">{{ 'menu.user'|trans }}</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('app_admin_index') }}">{{ 'action.entries'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('app_admin_users') }}">{{ 'menu.users'|trans }}</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('app_gb_index') }}">{{ 'user.entries'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('app_gb_new') }}">{{ 'action.create_entry'|trans }}</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'menu.logout'|trans }}</a>
                        </div>
                    {% else %}
                        <a class="nav-link dropdown-toggle mr-auto" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-o"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{{ path('app_login') }}">{{ 'action.login'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('app_register') }}">{{ 'title.register'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('app_forgot_password_request') }}">{{ 'action.reset_password'|trans }}</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar -->
</div>
