{{ form_start(comment_form) }}
<div class="form-group">
    {{ form_row(comment_form.author, {'value': app.user ? app.user.name : '', 'label': 'label.author'|trans, 'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(comment_form.email, {'value': app.user ? app.user.email : '', 'label': 'label.email'|trans, 'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(comment_form.content, {'label': 'label.content'|trans, 'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(comment_form.captcha, {'label': 'label.captcha'|trans, 'attr': {'class': 'form-control '}}) }}
</div>
<button type="submit" class="btn {{ button_color|default('btn-primary') }} mt-3">{{ button_label|default('action.comment_publish'|trans) }}</button>
{{ form_end(comment_form) }}