{% extends 'base.html.twig' %}

{% block title %}Guest Book Summary!{% endblock %}

{% block body %}
    <div class="container">          
        <div class="row mt-5">
            <div class="col-sm-6">                
                <div class="card border-secondary">
                    <div class="card-header">
                        New Entries
                    </div>
                    <div class="card-body">                                                                        
                        {% for entry in entries  %}   
                            <small class="text-muted">[{{ entry.updatedAt ? entry.updatedAt|date('Y-m-d H:i') : '' }}]</small>
                            <a class="text-secondary" href="{{ path('app_entry_show', {uuid: entry.uuid}) }}">
                                {{ entry.title }}
                            </a>
                            <p class="card-text text-small"> 
                            <hr>
                            {{ entry.message }}
                            </p>
                            <small>Author: {{ entry.user.name }}</small>
                            <hr>
                        {% endfor %}                        
                        <a href="#" class="text-info pull-right">Vew All</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-secondary"> 
                    <div class="card-header">
                        Last Comments
                    </div>
                    <div class="comment-widgets">
                        {% for comment in comments %}
                            <div class="d-flex flex-row comment-row p-3">
                                <div class="p-2"><img src="{{ asset('images/avatar.png') }}" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">{{ comment.author }}</h6> 
                                    <span class="m-b-15 d-block">{{ comment.content|striptags }}</span>
                                    <div class="comment-footer">                                         
                                        <a href="{{ path('app_entry_show', {uuid: comment.gb.uuid}) }}" class="text-info">{{ comment.gb.title }}</a>                                         
                                        <small class="text-muted float-right">{{ comment.createdAt ? comment.createdAt|date('M d, Y H:i') : '' }}</small>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
