{% extends 'base.html.twig' %}

{% block title %}GB Entries{% endblock %}

{% block body %}    
    <div class="container">
        <h2 class="text-center mt-5 mb-3">GB Entries</h2>        
        <div class="card">
            <div class="card-header">
                <a class="btn btn-secondary float-end" href="{{ path('app_g_b_new') }}"> 
                    Create
                </a>
            </div>
            <div class="card-body">
                {% if app.user %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gb in g_bs %}
                                <tr>
                                    <td>{{ gb.id }}</td>
                                    <td>{{ gb.title }}</td>        
                                    <td>{{ gb.createdAt ? gb.createdAt|date('Y-m-d H:i') : '' }}</td> 
                                    <td>{{ gb.updatedAt ? gb.updatedAt|date('Y-m-d H:i') : '' }}</td>
                                    <td class="text-center">
                                        <a class="link-secondary" href="{{ path('app_g_b_edit', {'uuid': gb.uuid}) }}"><i class="icon-edit"></i></a> 
                                        <a class="link-secondary" href="{{ path('app_admin_entry_show', {'uuid': gb.uuid}) }}"><i class="icon-eye-open"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
